{% extends 'base.html' %}
{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} text-center">
    {{message}}
</div>
{% endfor %}
{% endif %}

<header class="mt-5 items">
        <div class="container">
        <div class="row">
        <div class="col-md-3">
                <select class="custom-select">
                   <option selected>City</option>
                   <option value="1">Sale</option>
                   <option value="2">Rabat</option>
                   <option value="3">Casa</option>
                   <option selected>fes</option>
                   <option value="1">Agadir</option>
                   <option value="2">Makknes</option>
                   <option value="3">Taroudant</option>
                 </select>
        </div>
        <div class="col-md-3">
                 <select class="custom-select">
                   <option selected>field</option>
                   <option value="1">One</option>
                   <option value="2">Two</option>
                   <option value="3">Three</option>
                 </select>
        </div>
         <div class="col-md-3">
           <input type="text" class="form-control" placeholder="Search">
         </div>
        <div class="col-md-3">
        <button type="submit" value="submit" class=" form-control btn btn-success btn-outline-light mb-3"> Search </button>
        </div>
      </div>
    </div>
</header>

<div class="container mt-4">
  <div class="row">

  <div class="col-md-3">

    <!--Empty field-->

  </div>


  <div class="col-md-6">
  {% for item in items %}
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{item.image.url}}" class="card-img-top" alt="" style="height:200px">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a href="{% url 'profile' item.slug %}" class="card-title"> Name: {{item.username}}</a>
        <h5 class="card-title"> City : {{item.city}}</h5>
        <h5 class="card-title"> Profession : {{item.specialist}} </h5>
        <p class="card-text"> Price : {{item.price}} dhs</p>
        <p class="card-text "> About : {{item.about}} </p>
        <p class="card-text">{{item.about}}</p>
        <p class="btn btn-success"> Reserver Doctor </p>
         <p class="card-text"><small class="text-muted"> Joined One month ago</small></p>
      </div>
    </div>
  </div>
</div>
 {% endfor %}
</div>

 
    <div class="col-md-3">
    <!--  {% for item in items %}
      <div class="card-deck">
         <div class="card">
             <img class="card-img-top" src="{{item.image.url}}" alt="Card image cap">
             <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">{{item.field}}</p>
                 <p class="card-text">{{item.about}}</p>
               <p class="card-text"><small class="text-muted">Joined one week ago</small></p>
               <a class="btn btn-success" href=""> find out more </a>
             </div>
             </div>
         </div>
        </div>
        {% endfor %}  --> 
    </div>


</div>
</div>



{% endblock content %}
